* {
  padding: 0%;
  margin: auto;
}

.mycontainer {
  margin: 0;
  width: 100%;
}
/* page title style */
.brand-logo {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 30%;
  text-shadow: darkgray;  
  text-indent: 20px;
  
}

/* hero style */
.hero {
  background-image: url(../images/soccerfield.jpg);
  background-size: cover;
  background-position: center;
  height: 125px;
  width: 100%;
  opacity: 80%;
  border: 2px solid black;
}

/* score widget style */
.scores {
  padding: 30%;
  
  
  
}
/* nav style */
.nav-wrapper  {
  padding: 0;
  
}
