.Mycontainer {
  margin: 0 auto;
  max-width: 2000px;
  width: 100vw;
}


.hero {
  background-image: url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 125px;
  width: 100%;
  opacity: 80%;
  border: 2px solid black;
}